In [24]:
file_type = 'csv'
infer_schema = 'false'
first_row_is_header = 'True'
delimiter = ','
file_location_csv = 'case2.csv'
df = spark.read.format(file_type)\
    .option("inferSchema", infer_schema)\
    .option("multiline","true")\
    .option("encoding","utf8")\
    .option("header", first_row_is_header)\
    .option("sep", delimiter)\
    .load(file_location_csv)

In [25]:
df.show(2)

+----+--------------------+----------+
|year|              genres|profitable|
+----+--------------------+----------+
|2022|Fantasy-Action-Ad...| 607000000|
|2008|Animation-Fantasy...| 160726310|
+----+--------------------+----------+
only showing top 2 rows

In [26]:
dfcase2= df.toPandas()

In [27]:
dfcase2

      year                                             genres profitable
0     2022                           Fantasy-Action-Adventure  607000000
1     2008                           Animation-Fantasy-Family  160726310
2     2016                                     Romance-Comedy   87942512
3     2017  Animation-Action-Adventure-Fantasy-Romance-Sci...   20725409
4     2001                           Animation-Family-Fantasy  255925095
...    ...                                                ...        ...
6470  1987                        Drama-Action-Thriller-Crime     453888
6471  2009                                 Comedy-Documentary    1500000
6472  2020                                   War-Drama-Action          1
6473  2019    Adventure-Science Fiction-Fantasy-Mystery-Drama     990000
6474  2017                                  Documentary-Drama       3500

[6475 rows x 3 columns]