In [1]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
import pyspark.sql.functions as f
from pyspark.sql.window import Window
sc = SparkContext('local')
spark = SparkSession(sc)

In [2]:
#read file 
file_type = 'csv'
infer_schema = 'false'
first_row_is_header = 'true'
delimiter = ','
file_location_csv = 'data/movies.csv'
df = spark.read.format(file_type)\
    .option("inferSchema", infer_schema)\
    .option("multiline","true")\
    .option("encoding","utf8")\
    .option("header", first_row_is_header)\
    .option("sep", delimiter)\
    .load(file_location_csv)

In [35]:
# Most profitable movies by semester
df_case1 = df.select( f.to_date(df.release_date,"yyyy-mm-dd").alias('release_date'),
                      df.title,
                      df.budget.cast('integer'),
                      df.revenue.cast('integer'),
                      (df.revenue.cast('integer')-df.budget.cast('integer')).alias('profitable')
                    )
df_case1 = df_case1.filter(df_case1.profitable >0)
df_case1.show(n=2)

+------------+-------------+--------+---------+----------+
|release_date|        title|  budget|  revenue|profitable|
+------------+-------------+--------+---------+----------+
|  2022-01-30|      Morbius|75000000|161000000|  86000000|
|  2022-01-24|The Lost City|74000000|164289828|  90289828|
+------------+-------------+--------+---------+----------+
only showing top 2 rows

In [12]:
# Most profitable genres by year
# select the columns base 
df_case2 = df.select( f.to_date(df.release_date,"yyyy-mm-dd").alias('release_date'),
                      f.year(df.release_date).alias('year'),
                      df.title,
                      df.genres,
                      df.budget.cast('integer'),
                      df.revenue.cast('integer'),
                      (df.revenue.cast('integer')-df.budget.cast('integer')).alias('Profit')
                    )
# add column  Profitability= =([@revenue]-[@budget])/[@revenue]
df_case2 = df_case2.withColumn("profitable", (df_case2.Profit/df_case2.budget)*100)
# filter profitable > 0 
df_case2 = df_case2.filter(df_case2.profitable >0)
# group by year - genres with avg --> profitable
df_case2 = df_case2.groupBy("year","genres").agg(f.avg("profitable").alias("profitable"))
# save path metric ( csv )
df_case2.write.csv("metric/case2.csv",header=True)
# printdf case N 2
df_case2.show(n=20)

+----+--------------------+------------------+
|year|              genres|        profitable|
+----+--------------------+------------------+
|2022|Fantasy-Action-Ad...|             303.5|
|2008|Animation-Fantasy...|  385.641035509182|
|2016|      Romance-Comedy| 963.6673334027778|
|2001|Animation-Family-...|1346.9741842105263|
|2013|Fantasy-Action-Ad...|1.3782579487179487|
|1997|Action-Adventure-...| 79.79739000000001|
|1976|         Crime-Drama| 1257.307812445981|
|2013|Horror-Thriller-A...|         153.32898|
|2010|Action-Comedy-Thr...|30.879950666666666|
|2012|      Thriller-Drama| 340.1938044444444|
|1991|        Comedy-Drama|1854.7015133169934|
|2000|Drama-Horror-Myst...|        191.420351|
|2001|Science Fiction-D...|4.8232083333333335|
|2008|Action-Adventure-...|         128.96728|
|1966|Drama-Science Fic...| 33.33333333333333|
|1990|Action-Crime-Dram...|         116.33874|
|2003|  Drama-Comedy-Crime| 232.5603869565217|
|2015|Action-Mystery-Drama|1.9607843137254901|
|1935|Comedy-Drama-Romance|125.14619883040936|
|2006|               Music|             900.0|
+----+--------------------+------------------+
only showing top 20 rows

In [17]:
# Top 10 profitable movies by genres (maximum of 5 genres)
# select the columns base - filter genres is not null
df_case3 = df.select( df.title,
                      df.genres,
                      df.budget.cast('integer'),
                      df.revenue.cast('integer'),
                      (df.revenue.cast('integer')-df.budget.cast('integer')).alias('Profit')
                    ).filter(df.genres.isNotNull())
# add column  Profitability= =([@revenue]-[@budget])/[@revenue]
df_case3 = df_case3.withColumn("profitable", (df_case3.Profit/df_case3.budget)*100)
# filter profitable > 0
df_case3 = df_case3.filter(df_case3.profitable >0)
# group by title and genres
df_case3 = df_case3.groupBy("title","genres").agg(f.sum("profitable").alias("profitable")).sort('genres','title')

#partition geners order by profitable
window = Window.partitionBy(df_case3['genres']).orderBy(df_case3['profitable'].desc())


df_case3 = df_case3.select('*', f.rank().over(window).alias('rank'))\
  .filter(f.col('rank') <= 5)
# save path metric ( csv )
df_case3.write.csv("metric/case3.csv",header=True)
# printdf case N 3
df_case3.show(n=20)

+--------------------+--------------------+--------------------+----+
|               title|              genres|          profitable|rank|
+--------------------+--------------------+--------------------+----+
|          Angel Town|              Action|   99994.73684210527|   1|
|           The Fight|              Action|              8900.0|   2|
|Wanderlei Silva f...|              Action|              6900.0|   3|
|       Death Wish II|              Action|              2150.0|   4|
|Good Guys Wear Black|              Action|              1730.0|   5|
|Fortnite the Movi...|    Action-Adventure|1.6666566666666666E7|   1|
|Fortnite: The Fin...|    Action-Adventure|           9999900.0|   2|
|Kickboxer 2: The ...|    Action-Adventure|  1405194.3820224719|   3|
|The Flash - A New...|    Action-Adventure|  1494.0000000000002|   4|
|         Pulimurugan|    Action-Adventure|  1326.3157894736842|   5|
|     Kung Fu Panda 3|Action-Adventure-...|   259.4281551724138|   1|
|The Lego Movie 2:...|Action-Adventure-...|   94.40029292929293|   2|
|     The Incredibles|Action-Adventure-...|            586.3501|   1|
|       Incredibles 2|Action-Adventure-...|         521.4026795|   2|
|       Kung Fu Panda|Action-Adventure-...|  385.95735384615386|   1|
|Spider-Man: Into ...|Action-Adventure-...|  317.26759000000004|   1|
|    Battle for Terra|Action-Adventure-...|            52.52615|   2|
|Justice League: T...|Action-Adventure-...|             49.4608|   1|
|                   9|Action-Adventure-...|  61.426876666666665|   1|
|Smokey and the Ba...|Action-Adventure-...|   2847.382046511628|   1|
+--------------------+--------------------+--------------------+----+
only showing top 20 rows

In [40]:
df_case4 = df.select( 
                      f.month(df.release_date).alias('month'),
                      df.title,
                      df.genres,
                      df.popularity
                    ).filter((df.genres.isNotNull())& (df.popularity >0) & (df.release_date.isNotNull()))

df_case4 = df_case4.groupBy("genres","month").agg(f.sum("popularity").alias("popularity")).sort('genres','month')
df_case4.write.csv("case4.csv",header=True)
df_case4.show(n=20)

+--------------------+-----+------------------+
|              genres|month|        popularity|
+--------------------+-----+------------------+
|              Action|    1|1553.5560000000023|
|              Action|    2| 770.9639999999994|
|              Action|    3| 1346.307000000001|
|              Action|    4|2246.8939999999975|
|              Action|    5|          1210.075|
|              Action|    6| 869.2370000000001|
|              Action|    7| 578.5749999999999|
|              Action|    8| 922.6569999999991|
|              Action|    9|1374.8950000000011|
|              Action|   10| 729.4469999999997|
|              Action|   11|          1387.446|
|              Action|   12| 882.4510000000004|
|Action-Action-Thr...|    2|             6.212|
|    Action-Adventure|    1|184.94100000000012|
|    Action-Adventure|    2| 6220.679000000001|
|    Action-Adventure|    3|            138.11|
|    Action-Adventure|    4| 549.6479999999998|
|    Action-Adventure|    5|            84.957|
|    Action-Adventure|    6|100.13200000000002|
|    Action-Adventure|    7| 494.3069999999999|
+--------------------+-----+------------------+
only showing top 20 rows

In [41]:
df_case5 = df.select( df.release_date,
                      df.genres,
                    ).filter((df.genres.isNotNull()) & 
                             (df.release_date.isNotNull()) & 
                             (df.release_date > '1997-01-01')
                            )

df_case5 = df_case5.groupBy("genres").agg(f.count("genres").alias("count")).sort('genres')

df_case5.write.csv("case5.csv",header=True)
df_case5.show(n=20,truncate=False)

+------------------------------------------------+-----+
|genres                                          |count|
+------------------------------------------------+-----+
| Daniel Blake"""                                |1    |
| Don't Tell"""                                  |1    |
| Hawaiian Islands"                              |1    |
| Hiyodori Tengu!"""                             |1    |
| I'm an American"""                             |1    |
| Ima no Morning Musume. desu. 17 Nenme mo       |1    |
| Uncut & Uncensored"""                          |1    |
| karÄ aiziedams"""                              |1    |
| world"""                                       |1    |
| you are mad"" - Tage Danielsson"               |1    |
|"" Waikiki                                      |1    |
|0.6                                             |1    |
|Action                                          |3709 |
|Action-Action-Crime                             |1    |
|Action-Action-Thriller                          |3    |
|Action-Adventure                                |269  |
|Action-Adventure-Animation                      |21   |
|Action-Adventure-Animation-Comedy               |5    |
|Action-Adventure-Animation-Comedy-Crime-TV Movie|1    |
|Action-Adventure-Animation-Comedy-Drama-Fantasy |1    |
+------------------------------------------------+-----+
only showing top 20 rows